	<div class="content">
		<div class="contentIn">
			<h2 class="darkHeader">PRIVACY POLICY</h2>
			<div class="genPageCont">
				<h3>Introduction</h3>
				<p>We respect each individual's right to personal privacy and the security of information you provide us. This privacy policy sets forth the types of information we may collect and how we may treat and use it. This privacy policy is an integral part of the General Terms of Service with respect to the ElectionArena.com website (“Website”); by accessing or using the Website you indicate your acceptance of this privacy policy. The terms “us”, “our”, or “we” as used herein mean Election Arena, LLC and the term “you” as used herein means you as a person using or accessing the Website. </p>
				<h3>Information We May Obtain and How We May Use it</h3>
				<p>We collect and use information in several ways. Some information you provide to us directly (through the registration process or creating an account) and some is obtained merely by you accessing or using the Website. We only obtain personal identifying information ("PII") from you if you voluntarily submit such information to us on the Website through the registration process (or the creation of an account) and/or through e-mail. The Website uses a technology called "cookies”. Using cookies we may obtain may record information about your usage of the Website. We also may use “web beacons” and “log-file” information to collect general demographic information about you and/or information about your computer when you visit the Website, including, without limitation, the type of browser software you use, the operating system you are running, the Website that referred you, and your internet protocol address. We may use other technologies to obtain various other non-PII information about you and your internet use using such technologies. Some of our advertisers occasionally serve you cookies as well. We do not have control over cookies placed by advertisers. We will never intentionally release or provide any of your PII to any third party without your authorization. We may make use of any non-PII we obtain from you in order to improve our services and the Website and market our products. We may sell or share or otherwise make available non-PII to affiliates or third parties. </p>
				<h3>Access to Information</h3>
				<p>We maintain the accuracy of your information by providing you access to it and allowing updates to promptly take effect. Registered Users and account holders may access their own personal information via our login pages and update any inaccuracies they may find.</p>
				<h3>Security</h3>
				<p>We protect user information both in our servers and on the users computer with various physical and software based security measures, including encryption, data file encryption, secure servers, firewalls, and other proprietary technologies and procedures used to protect your privacy and the integrity of our data storage. </p>
				<h3>Changes</h3>
				<p>We may need to change this privacy policy from time to time in order to address new issues, evolving technologies, changes on the Website, or business practices. In the event we make any such changes, we will post notice of them so you will always know what types of information we gather and how we might use that information. Please refer back to this policy regularly. </p>
				<h3>Concerns; Contact</h3>
				<p>If you have any questions regarding this privacy policy or if you feel that the Website has not followed its privacy policy, feel free to contact us at this address <a href="mailto:Contact@ElectionArena.com">Contact@ElectionArena.com</a>. Please also use that same address to report to us any violations of this privacy policy or security concerns you may have related to the Website.</p>
			</div>
		</div><br clear="all" />
	</div>
